.kanban-container {  display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1fr 24fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "new-title in-progress-title done-title"
      "new-swimlane in-progress-swimlane done-swimlane";
  }
  
  .new-title { grid-area: new-title; }
  
  .in-progress-title { grid-area: in-progress-title; }
  
  .done-title { grid-area: done-title; }
  
  .new-swimlane { grid-area: new-swimlane; }
  
  .in-progress-swimlane { grid-area: in-progress-swimlane; }
  
  .done-swimlane { grid-area: done-swimlane; }
  
  .title{
    text-align: center;
  }

ul {
    list-style-type: none;
    margin: 2em;
    padding: 2em;
    height: 40em;
    border: solid black;
    overflow-y: scroll;
}

li{
    justify-content: center;
    background: #fff;
    transition: all 0.3s;
    margin: 0.4rem;
    height: 4rem;
    border: #000013 0.15rem solid;
    border-radius: 0.2rem;
    cursor: move;
    text-align: center;
    vertical-align: middle;
    overflow: scroll;
}

.item-text{
    cursor: text;
}


.compact{
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

